/* Adapted from marcofolio.net */

/* COMMON CLASSES */
.break { clear:both; }

/* SEARCH FORM */
#searchform { margin:0px 0px; }
#searchform div { color:#0F050D; }	/* the whole visible div */
#searchform p {	/* the visible paragraph that says "Search" */
	display:inline;
	color:#F1C9E1;
	font-family: 'Times New Roman',Times,serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	/* ORIGINAL VALUES: this didn't exist */
}
#searchform div input {	/* the input box where the user types */
	width:160px;
	height:22px;
	font-size:11px;
	/* ORIGINAL VALUES: font-size:18px; padding:5px; width:320px; */
}
#suggestions{	/* this box that gets shown/hidden and contains the search results */
	position:absolute;
	right:100px;
	top: 143px;
	z-index: 9999;
	width:320px;
	line-height:0;
	display:none;
        background-color: #f2cae2;
        padding:0px;
        border: 1px solid #4C213D;
	/* ORIGINAL VALUES: position: relative; left:235px; width:320px; display:none; */
}
    

/* SEARCHRESULTS */
/* the whole search results box */
#searchresults {
    background-color:#f2cae2;
    border: 0px;
    width:320px;
    text-align:left;
    font-size:12px;
    line-height:14px;
}
/* all images in the search results */
#searchresults a img {
    float:left;
    padding:3px;
}
/* all links within the search results */
#searchresults a {
    font-style: normal;
    font-size: 12px;
    text-decoration:none;
}

/* whole rows in the search results */
#searchresults a {
    display:block;
    background-color:#f2cae2;
    color:#ffffff;
    clear:left;
    padding:2px;
}
/* whole rows in the search results when hovered over */
#searchresults a:hover {
    color:#461b37;
}
/* generic text within those rows e.g. product descriptions */
#searchresults a span {
    display:block;
    padding-top:2px;
}
/* title text within those rows e.g. product names */
#searchresults a span.searchheading {
    color:#191919;
}

/* category headers */
#searchresults span.category {
    background-color:#4C213D;
    font-size:14px;
    margin:0px;
    display:block;
    color:#ffffff;
    padding: 5px;
}

/* the "alternative" row at the bottom e.g. to sitemap/browse page */
#searchresults span.alternative {
    background-color:#4C213D;
    margin:0px;
}
/* link within the "alternative" row */
#searchresults span.alternative a {
    display:block;
    color:#ffffff;
    background-color:#4C213D;
    margin:0px;
    margin-bottom:-14px;
    text-align: center;
}
/* when hovering over that link */
#searchresults span.alternative a:hover {
    color:#4C213D;
    background-color:#ffffff;
}