/* THIS FILE CONTAINS STYLES FOR THE PRODUCT DETAIL TABS */

/* The whole tabs box */
#tabs_wrapper {
    width: 438px;
}

/* The container for the tab headers */
#tabs_container {
    border-bottom: 1px solid #0F050D;
}

/* The tab headers */
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
}
#tabs li {
    display: inline;
}
#tabs li a {
    font-weight: bold;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #0F050D;
    text-decoration: none;
    border: 1px solid #0F050D;
    padding: 4px 6px;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
    /* rounded corners (top-left and top-right only */
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}
#tabs li.active a {
    border-bottom: 1px solid #0F050D;
    background-color: #F1C9E1;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}

/* The container for the tab contents */
#tabs_content_container {
    border: 1px solid #0F050D;
    border-top: none;
    padding: 10px;
    width: 438px;
    /* rounded corners (bottom-right and bottom-left only */
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

/* The tab contents box */
.tab_content {
    display: none;
}

/* Span that holds the "click below" text on the "Colours & Sizes" tab */
#colour_click_hidden {
	display: none;
}
#colour_click {
	line-height:20px;
}